.element__like {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: translate(-11%,33%);

}
.element__like:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}
