.element__title {
  max-width: 246px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  box-sizing: border-box;

}
