.form__input {
  max-width: 358px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #000;

}
