.profile-info__edit-button {
  width: 24px;
  height: 24px;
  background: url(./../../../images/editbutton.png);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  cursor: pointer;
  outline: 1px solid white;
  border-radius: 2%;
}

.profile-info__edit-button:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}


